<div class="container row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header text-center title-2">Adicionar novo morador</div>
            <div class="card-body">

                <form ng-submit="cadastrar()" name="frm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="cc-name" class="control-label mb-1">Nome</label>
                            <input type="text" class="form-control cc-name valid" ng-model="user.name">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label for="cc-endereco" class="control-label mb-1">Endereço</label>
                        <input type="text" class="form-control cc-name valid" ng-model="user.address">
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-endereco"
                            data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">CPF</label>
                        <input type="text" class="form-control cc-number" placeholder="XXX.XXX.XXX-XX" ng-model="user.cpf" mask="999.999.999-99">
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group">
                        <label for="email-input" class=" form-control-label">Email</label>
                        <input type="email" id="email-input" placeholder="email@mail.com" class="form-control" ng-model="user.email">
                    </div>

                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Telefone</label>
                        <input type="text" class="form-control cc-number" placeholder="(XX) X XXXX-XXXX" ng-model="user.phone" mask="(99) 9?9999-9999">
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Senha</label>
                        <input type="password" class="form-control" ng-model="user.password">
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>

                    <button type="submit" class="btn btn-lg btn-info btn-block">
                        <i class="fa fa-plus fa-lg"></i>&nbsp;
                        <span>Adicionar</span>
                    </button>
            </div>
            </form>
        </div>
    </div>
</div>