<div class="container row text-center">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adicionarLocal">Adicionar local</button>
    </div>

</div>
<br><br>
<div class="row container justify-content-center">
    <div class="col-lg-6">
        <input type="search" class="form-control" ng-model="filtro" placeholder="Pesquisar">

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>NOME</th>
                    <th>AÇÃO</th>
                </tr>

                <tr ng-repeat="local in locais | filter:filtro">
                    <td><a href="javascript:void(0)" ng-click="selecionaLocal(local)" data-toggle="modal" data-target="#detalheLocal">{{local.place_name}}</a></td>
                    <td>
                        <button ng-click="selecionaLocal(local)" class="btn btn-primary" data-toggle="modal"
                            data-target="#adicionarReserva">Adicionar reserva</button>
                        <button ng-click="removeLocal(local.id)" class="btn btn-danger">Remover</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br><br>


<!-- Modal Adicionar Local -->
<div class="modal fade" id="adicionarLocal" tabindex="-1" role="dialog" aria-labelledby="detalhesLocalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header list-group-item-default">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar local para reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="cadastrarLocal()" name="frm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="place_name" class="control-label mb-1">Nome</label>
                            <input required name="place_name" type="text" class="form-control cc-name valid" data-val="true"
                                aria-required="true" aria-invalid="false" ng-model="local.place_name" placeholder="Nome do local"
                                required>
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="horario.dia">
                                        <option value="Domingo">Domingo</option>
                                        <option value="Segunda-feira">Segunda-feira</option>
                                        <option value="Terça-feira">Terça-feira</option>
                                        <option value="Quarta-feira">Quarta-feira</option>
                                        <option value="Quinta-feira">Quinta-feira</option>
                                        <option value="Sexta-feira">Sexta-feira</option>
                                        <option value="Sábado">Sábado</option>
                                    </select><br>
                                </div>
                                <div class="col-md-7">
                                    <small for="domStart">Início: </small>
                                    <input id="domStart" type="time" ng-model="horario.startTime" placeholder="HH:mm"
                                        min="07:00" max="22:00" required />
                                    <small for="domEnd">Fim: </small>
                                    <input id="domEnd" type="time" ng-model="horario.endTime" placeholder="HH:mm" min="07:00"
                                        max="22:00" required />
                                </div>

                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm btn-success" ng-click="addHorario()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="container">
                                <ul>
                                    <li ng-repeat="horario in horariosLocal">
                                        {{horario.dia}} - {{horario.startTime | date:'HH:mm'}} às {{horario.endTime |
                                        date:'HH:mm'}}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-info btn-block">
                        <i class="fa fa-plus fa-lg"></i>&nbsp;
                        <span>Adicionar</span>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Adicionar Reserva -->
<div class="modal fade" id="adicionarReserva" tabindex="-1" role="dialog" aria-labelledby="detalhesLocalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header list-group-item-default">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="cadastrarReserva()" name="frm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="place_name" class="control-label mb-1">Local</label>
                            <input disabled name="place_name" type="text" class="form-control cc-name valid" data-val="true"
                                ng-model="localSelecionado.place_name" required>
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">

                            <div locale="pt-br" class="input-group" moment-picker="diaSemana" format="YYYY-MM-DD">
                                <span class="input-group-addon">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                <input required class="form-control" placeholder="Data" ng-model="diaSemana"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </div>

                        </div>
                    </div>

                    <div class="form-group has-success">
                        <div locale="pt-br" class="input-group" moment-picker="horaInicio" format="HH:mm">
                            <span class="input-group-addon">
                                <i class="fas fa-clock"></i>
                            </span>
                            <input required class="form-control" placeholder="Hora inicial" ng-model="horaInicio"
                                ng-model-options="{ updateOn: 'blur' }" required>
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <div locale="pt-br" class="input-group" moment-picker="horaFinal" format="HH:mm">
                            <span class="input-group-addon">
                                <i class="fas fa-clock"></i>
                            </span>
                            <input required class="form-control" placeholder="Hora final" ng-model="horaFinal"
                                ng-model-options="{ updateOn: 'blur' }" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-info btn-block">
                        <i class="fa fa-plus fa-lg"></i>&nbsp;
                        <span>Adicionar</span>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal com Detalhes do Local -->
<div class="modal fade" id="detalheLocal" tabindex="-1" role="dialog" aria-labelledby="detalhesLocalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header list-group-item-default">
                <h5 class="modal-title" id="exampleModalLongTitle">{{localSelecionado.place_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <p><b>Dias disponível: </b></p>

                    <div style="max-height:300px; overflow-x:auto;">
                        <table class="table table-stripped">
                            <thead>
                                <tr class="text-center">
                                    <th>Dia</th>
                                    <th>Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-repeat="horario in localSelecionado.about">
                                    <td>{{ts(horario).dia}}</td>
                                    <td>{{ts(horario).startTime | date:'HH:mm'}} às {{ts(horario).endTime
                                        | date: 'HH:mm'}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <p><b>Reservas cadastradas:</b></p>

                    <div class="alert alert-info" ng-show="reservas.length == 0" role="alert">
                        Sem reservas para este local!
                    </div>

                    <div ng-show="reservas.length" style="max-height:300px; overflow-x:auto;">
                        <table class="table table-stripped">
                            <thead>
                                <tr class="text-center">
                                    <th>Data</th>
                                    <th>Reservado</th>
                                    <th>Residente</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reserva in reservas" class="text-center">
                                    <td>{{reserva.startTime | date:'dd/MM/yyyy'}}<br>
                                        {{reserva.startTime | date: 'HH:mm'}} - {{reserva.endTime | date:'HH:mm'}}

                                    </td>
                                    <td ng-if="reserva.occupied">Sim</td>
                                    <td ng-if="!reserva.occupied">Não</td>
                                    <td>{{reserva.residentId}}</td>
                                    <td><button ng-click="selecionaReserva(reserva)" data-toggle="modal" data-target="#removeReserva"
                                            class="btn btn-lg btn-danger"><i class="fa fa-remove"></i></button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal com Detalhes do Serviço -->
<div class="modal fade" id="removeReserva" tabindex="-1" role="dialog" aria-labelledby="detalhesLocalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header list-group-item-default modal-header-danger">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color:white">Remover reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Deseja remover a reserva selecionada?</h3>
                <p>
                    {{reservaSelecionada.startTime | date:'dd/MM/yyyy'}}
                    {{reservaSelecionada.startTime | date: 'HH:mm'}} - {{reservaSelecionada.endTime | date:'HH:mm'}}
                </p>
            </div>
            <div class="modal-footer">
                <button ng-click="removeReserva(reservaSelecionada.id)" type="button" class="btn btn-danger">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>