<!--<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />-->

<section class="content" style="margin-top: 10px; padding-bottom: 60px !important;">
        <section class="container" style="max-width:900px !important;">
                <section ng-init="carregaReservas()">

                        <div class="btn-toolbar">
                                <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
                                                ng-click="changeMode('month')">
                                                Mês
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
                                                ng-click="changeMode('week')">
                                                Semana
                                        </button>
                                        <button ng-hide="true" type="button" class="btn btn-default" ng-class="{active:mode==='day'}"
                                                ng-click="changeMode('day')">
                                                Dia
                                        </button>
                                </div>
                                <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-disabled="isToday()" ng-click="today()">
                                                Hoje
                                        </button>
                                </div>
                        </div>
                        <div class="well well-sm">
                                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                                        range-changed="reloadSource(startTime, endTime)" event-selected="onEventSelected(event)"
                                        time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>
                        </div>
                </section>
        </section>
</section>

<!-- Modal com Detalhes do Serviço -->
<div class="modal fade" id="detalheReserva" tabindex="-1" role="dialog" aria-labelledby="detalhesLocalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header list-group-item-default">
                <h5 class="modal-title" id="exampleModalLongTitle">{{event.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Horário: </b></p>
                <p>
                                {{event.startTime | date:'dd/MMM/yyyy'}} 
                                ({{event.startTime | date: 'HH:mm'}} - {{event.endTime | date:'HH:mm'}})
                </p>
                <p ng-if="event.owner">Dono da reserva: {{event.owner}}</p><br>
            </div>
            <div class="modal-footer">
                <button ng-click="realizaReserva(event.reservationId)" ng-if="!event.ownerId" type="button" class="btn btn-success" data-dismiss="modal">Reservar</button>
                <button ng-click="cancelaReserva(event.reservationId)" ng-if="event.ownerId === $root.usuarioLogado.id" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar Reserva</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>